# MediaStack API Anahtarı
# https://mediastack.com adresinden ücretsiz anahtar alabilirsiniz
MEDIASTACK_API_KEY=ec437a7b7d79b819ef753263eba87c2d

# Flask Ayarları
FLASK_ENV=development
FLASK_DEBUG=True
